# .env.sample
BACKEND_URL=
FRONTEND_URL=
PORT=
CORS_ORIGIN=
MONGODB_URI=
JWT_SECRET=
JWT_SIGNUP_EXPIRES_IN=
JWT_LOGIN_EXPIRES_IN=
GMAIL_USER=
GMAIL_APP_PASSWORD=
CLOUD_NAME=
CLOUD_API_KEY=
CLOUD_API_SECRET=
MEDIA_STORAGE_PROVIDER=local